$primary-color: #050505;
$light-gray: #E8ECEF;
$text-color: #050505;
$secondary-text-color: #65676b;
$border-color: #ddd;
$background-white: #ffffff;
$background-gray: #ddd;
$error-color: #FF6A4D;
$success-color: #4DFFE2;

.followers-container {
  max-width: 600px;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  background: $background-white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 1023px) {
    max-width: 300px;
    padding: 20px;
    margin: 10px auto;
  }

  @media screen and (max-width: 767px) {
    max-width: 260px;
    padding: 10px;
    margin: 10px auto;
  }

  @media screen and (max-width: 387px) {
    max-width: 200px;
    padding: 5px;
    margin: 5px auto;
  }

    h2 {
    font-size: 24px;
    color: $text-color;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    svg {
      color: $primary-color;
    }
  }
}

.followers-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.follower-card {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid $border-color;
  border-radius: 6px;
  background-color: $background-white;
  transition: background-color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: $light-gray;
  }

  .follower-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }

  .follower-info {
    display: flex;
    flex-direction: column;


    h2 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      color: $text-color;
    }


    h4 {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      color: $text-color;
    }

    p {
      margin: 0;
      font-size: 14px;
      color: $secondary-text-color;
    }
  }
}

.followers-loading,
.followers-error,
.followers-empty {
  text-align: center;
  font-size: 14px;
  color: $secondary-text-color;
  padding: 20px;
}

.followers-back-btn {
  background: $background-white;
  color: $text-color;
  margin-top: 20px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid $text-color;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    text-decoration: underline;
    background: $background-white;
    color: $text-color;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {

  .followers-back-btn {
    font-size: 16px;
    padding: 5px 8px;
    gap: 4px;
  }
}

@media screen and (max-width: 767px) {

  .followers-back-btn {
    font-size: 14px;
    padding: 5px 8px;
    gap: 4px;
  }
}

@media screen and (max-width: 375px) {
  .followers-back-btn {
    font-size: 14px;
    padding: 4px 6px;
    gap: 2px;
  }
}