/* Globale Styles */
$primary-color: #050505;
$light-gray: #E8ECEF;
$text-color: #050505;
$secondary-text-color: #65676b;
$border-color: #ddd;
$background-white: #ffffff;
$background-gray: #ddd;
$error-color: #FF6A4D;
$success-color: #4DFFE2;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: $background-white;
}

/* Desktop und Laptop */
@media screen and (min-width: 1024px) {
  .dashboard-layout {
    display: flex;
    flex-direction: row;
  }

  .sidebar-left,
  .sidebar-right {
    display: block;
    width: 25%;
  }

  .main-content {
    width: 50%;
    padding: 20px;
  }
}

/* Tablet */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .dashboard-layout {
    display: block;
  }

  .sidebar-left,
  .sidebar-right {
    display: none;  /* Entfernt Profile und User auf Tablets */
  }

  .main-content {
    width: 100%;
  }

  /* Zusätzliche Anpassungen für Tablet */
  .nav-container {
    padding: 0 10px;
  }
}

/* Handy */
@media screen and (max-width: 767px) {
  .dashboard-layout {
    display: block;
  }

  .sidebar-left,
  .sidebar-right {
    display: none;  /* Entfernt Profile und User auf Handys */
  }

  .main-content {
    width: 100%;
  }


  .nav-section.nav-left {
    display: block;
    padding-left: 15px;
  }

  .nav-section.nav-logout {
    display: block;
  }

  /* Zeigt AllUser auf Handys */
  .nav-section.nav-allusers {
    display: block;
  }
}

