$primary-color: #050505;
$light-gray: #E8ECEF;
$text-color: #050505;
$secondary-text-color: #65676b;
$border-color: #ddd;
$background-white: #ffffff;
$background-gray: #ddd;
$error-color: #FF6A4D;
$success-color: #4DFFE2;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
  box-sizing: border-box;
}



body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  background-color: $background-white;

}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;

  .col-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-6 {
    display: flex;
    width: 45%;
    flex: 1 1 auto;
    flex-direction: column;
    align-self: stretch;
  }

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

