$primary-color: #050505;
$light-gray: #E8ECEF;
$text-color: #050505;
$secondary-text-color: #65676b;
$border-color: #ddd;
$background-white: #ffffff;
$background-gray: #ddd;
$error-color: #FF6A4D;
$success-color: #4DFFE2;

.profile-card {
  width: 300px;
  background: $background-white;
  overflow: hidden;
  text-align: start;
  font-family: "Roboto", sans-serif;
  gap: 20px;

}

.sidebar-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-header {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid $light-gray;
}

h2{
  font-size: 24px;
  color: $text-color;
}

.profile-job {
  color: $secondary-text-color;
}

.profile-bio {
  font-size: 18px;
  color: $text-color;
  text-align: center;
  line-height: 1.4;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  padding: 12px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  }

.profile-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  padding: 10px;
  }

.menu-button {
  width: 100%;
  padding: 10px;
  background: $background-white;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: 14px;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
  cursor: pointer;
  transition: background 0.2s ease;

  &:hover {
    background: $light-gray;
  }
}

.profile-view-btn {
  width: 100%;
  background: $primary-color;
  color: $background-white;
  padding: 10px 15px;
  font-size: 16px;
  border: $primary-color;
  border: 1px solid  $primary-color;
  border-radius: 4px;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  justify-content: center;

  &:hover {
    text-decoration: underline;
    background: $background-white;
    color: $primary-color;
  }
}

